.pie{
    /* ajuste de tama単o y color de fondo */
     background-color: rgb(116, 110, 110);
     left: 1076px;
    width: 280px;
     height: 65px; 

    /* posicionamiento del name */
       position: fixed;
       bottom: 0;
       right: 0;

        /* Ajuste del texto */
        font-size: 20px;
        text-align: right;
        text-decoration: underline;
        letter-spacing: 10px;
        text-shadow: 2px 2px 5px rgb(250, 248, 248);

/* Dise単o del marco y borde */
        border: 5px;
        border-style: solid;
        padding: 10px 10px;
        border-color: grey;
        margin: 10px 10px;
}

.refer{

    /* ajuste de tama単o y color de fondo */
    background-color: rgb(116, 110, 110);
    left: 1076px;
    width: 280px;
    height: 526px; 

       /* posicionamiento del name */
       position: fixed;
       right: 0;
    /* Ajuste del texto */
        font-size: 20px;
        text-align: center;
       letter-spacing: 2px;

/* Dise単o del marco y borde */
top: 46px;
border-style: solid;
padding: 10px 10px;
border-color: grey;
margin: 10px 10px;

}


h1{

        text-decoration: underline;
        text-shadow: 2px 2px 5px rgb(250, 248, 248);
}
